<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <!--<add key="ModeExecution" value="Dialy"/>-->
    <add key="ModeExecution" value="Interval" />

    <add key="timerinterval" value="1000" />
    <!-- Cantidad en milisegundos -->
    <add key="ScheduledTime" value="23:00" />
    <!-- Indica que se debe ejecutar a las 23:00 todos los días. -->

    <!--Configuración del Servicio-->
    <add key="ConfigurationDirectoryPath" value="C:\Program Files\ParentalControl" />
    <add key="ConfigurationFilePath" value="C:\Program Files\ParentalControl\ParentalControlWinService\configuration\ProcessorConfigurationFile.xml" />

    <!--Configuración de envío de Correos-->
    <add key="Setting.Smtp.Port" value="25" />
    <add key="Setting.Smtp.Host" value="192.168.4.192" />
    <add key="Setting.MailMessage.From" value="johanaaracely.herrera@udla.edu.ec" />
    <!--Lista de correos a quienes se les enviará la notificación del estado del proceso (Separados por punto y comma (;) )-->
    <add key="Setting.MailMessage.To" value="johanaaracely.herrera@udla.edu.ec" />
    <add key="Setting.MailMessage.Subject" value="Novedades Control Parental" />
    <add key="Setting.MailMessage.SubjectError" value="Error Control Parental" />
  </appSettings>

  <connectionStrings>
    <add name="ParentalControlDB" connectionString="Data Source=SQL5052.site4now.net;Initial Catalog=db_a7f467_parentalcontroldb;User Id=db_a7f467_parentalcontroldb_admin;Password=JKN123456" />
  </connectionStrings>
</configuration>